.panel-body {
	 -webkit-margin-after: 47px;

	.color-div {
	    width: 16%;
    	margin-right: 6px;

		    .details {
			    margin-top: 124px;
    			margin-left: 0px;
			    font-size: 1.2em;
      }
   }
}

.saved-details-div {
	margin-top: 93px;
    margin-left: 0px;
	width: 100px;
    font-size: 1.2em;
}