.panel-body {
	 -webkit-margin-after: 47px;

	.color-div {
		height: 150px;
	    width: 16%;
    	margin-right: 6px;
    	border-radius: 4px;

		    .front-details {
			    margin-top: 66px;
    			margin-right: 206px;
			    font-size: 1.2em;
			    color: white;
      }
   }
}

p {
	margin: 0px 23px 10px;
}

.back {
	font-size: 0.8em;
    margin: -11px -19px 0px -9px;
    text-align: -webkit-center;
    color: white;
}

.saved-details-div {
	margin-top: 93px;
    margin-left: 0px;
	width: 100px;
    font-size: 1.2em;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	height: 1px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: inherit;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}