.panel-body {
	 -webkit-margin-after: 47px;

	.color-div {
	    height: 119px;
    	width: 138px;
	    margin-right: 3px;


		    .details-div {
			    margin-top: 124px;
    			margin-left: 0px;
			    width: 100px;
			    font-size: 1.2em;
      }
   }
}