.hard-title {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 600;

	.generate-title {
		margin-bottom: 45px;
		font-family: proxima-nova, sans-serif;
		font-style: normal;
		font-weight: 600;
	}
}