@import 'colors';
@import 'fonts';

body {
	background-color: white;
}

.googleButton {
	border-radius: 87px;
    background-color: transparent;
    border-style: none;
}

.color-div {
	border: .5px solid black;
    height: 56px;
    width: 84px;
}