<div class="info-div col-md-8 col-md-offset-2" ng-controller="InfoCtrl">

<div class="main">
	<h2 class="hex-title">What are HTML color codes?</h2>

		<div class="hex-p col-xs-7 col-xs-offset-2">Color codes represent the colors red, green and blue in a format that computers are able to interpret and display.</div>


		<div class="hex-p col-xs-7 col-xs-offset-2">Commonly used formats are Hex color codes, RGB, HSL, and HTML color names.</div>

</div>


<div class="second">
	<h4 class="sub-title col-xs-7 col-xs-offset-2">Hex Color Codes</h4>

		<p class="hex-p col-xs-7 col-xs-offset-2">A hexidecimal is a six digit numeric representation of a color which is split into three parts. Hex values are composed of numbers from 0 to 9 and letters from A to F. </p> 

		<div class="hexex-rgb col-xs-7 col-xs-offset-2"># <span class="red">xx</span> <span class="green">xx</span> <span class="blue">xx</span></div>

		<p class="hex-p col-xs-7 col-xs-offset-2">0 is the lowest value in a hex code - it represents the absence of color.</p>

		<div class="hexcol-absence col-xs-7 col-xs-offset-2"> #000000 </div>

		<p class="hex-p col-xs-7 col-xs-offset-2">F is the highest value in a hex code - it represents the highest amount of brightness</p>
		<div class="hexcol-red col-xs-7 col-xs-offset-2"> #FFFFFF </div>

		<p class="hex-p col-xs-7 col-xs-offset-2">With a basic understanding of how hex codes work, it is also easy to create gray colors, which consist of an equal value of red, green and blue. </p>

		<div class="hexcol-gray1 col-xs-7 col-xs-offset-2"> #808080 </div>

		<div class="hexcol-gray2 col-xs-7 col-xs-offset-2"> #D3D3D3 </div>

		<div class="hexcol-gray3 col-xs-7 col-xs-offset-2"> #F5F5F5 </div>

</div>



<div class="third">
	<h4 class="sub-title col-xs-7 col-xs-offset-2">Abbreviated Hex Colors</h4>

	<p class="hex-p col-xs-7 col-xs-offset-2">With the possibility of 16 million different color combinations, using hex values can become overwhelming. You can simplify the possibility of combinations to around 4,000 by abbreviating hex codes with one digit for red, one for blue and one for green.</p>

	<p class="hexex-rgb col-xs-7 col-xs-offset-2"># <span class="red">x</span> <span class="green">x</span> <span class="blue">x</span></p>

	<h4 class="sub-title col-xs-7 col-xs-offset-2">But why would I even use hex abbreviations?</h4>
	<p class="hex-p col-xs-7 col-xs-offset-2">The use of shorthand hex colors can help assist with optimizing your style sheets to their minimum size.</p>

	<p class="hex-p col-xs-7 col-xs-offset-2"> Here are some examples of shorthand hex notation: </p>
	<div class="indiv-color1 col-xs-4 col-xs-offset-1"> #ff6600</div>
	<div class="indiv-color2 col-xs-4 col-xs-offset-1"> #f60 </div>

	<div class="indiv-color3 col-xs-4 col-xs-offset-1"> #ffcc00 </div>
	<div class="indiv-color4 col-xs-4 col-xs-offset-1"> #fc0 </div>
</div>








</div>