<div class="text-center" ng-controller="ViewCtrl">
    <div ng-repeat="palette in palettes" ng-if="palette.isFavorite" class="col-xs-8 col-xs-offset-2">
      <div class="caption">
            <div class="palette-title">
                <div>
                    <a href="#" class="edit-saved-title" editable-text="palette.mode" onaftersave="updatePaletteAfterFormEdit(palette)">{{palette.mode || 'empty'}}</a>  
                </div>
                <!--Buttons -->
                <button class="btn btn-default" ng-click="favoritePalettes(palette)" ng-if="palette.isFavorite"><i class="fa fa-star" aria-hidden="true"></i></button>
                <button class="btn btn-default" ng-click="favoritePalettes(palette)" ng-if="!palette.isFavorite"><i class="fa fa-star-o" aria-hidden="true"></i></button>
                <button class="btn btn-default" ng-click="deletePalette(palette.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                
                <div class="panel-body col-md-12 col-md-offset-2">
                    
                        <div class="color-div flip-container col-xs-3" ontouchstart="this.classList.toggle('hover')" id="colorDiv" style="background-color:{{ ::color.hex}}" ng-repeat="color in colors" ng-if="color.paletteId === palette.id"><button class="delete-saved btn btn-default" ng-click="deleteColor(color.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        <div class="flipper">
                    <div class="front">
                         <p class="front-details-saved">{{ ::color.hex}}</p>
                    </div>
                    <div class="back">
                        <p class="back-details-saved">{{ ::color.name}}</p>
                        <p class="back-details-saved">{{ ::color.rgb}}</p>
                        <p class="back-details-saved">{{ ::color.hex}}</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
           