<div class="text-center" ng-controller="ViewCtrl">


<div ng-repeat="palette in palettes" ng-if="palette.isFavorite" class="col-xs-8 col-xs-offset-2">

<button class="btn btn-default" ng-click="favoritePalettes(palette)" ng-if="palette.isFavorite"><i class="fa fa-star" aria-hidden="true"></i></button>

<button class="btn btn-default" ng-click="favoritePalettes(palette)" ng-if="!palette.isFavorite"><i class="fa fa-star-o" aria-hidden="true"></i></button>


    <div class="caption">
        <div class="palette-title">
            <div>
                <a href="#" class="edit-saved-title" editable-text="palette.mode" onaftersave="updatePaletteAfterFormEdit(palette)">{{palette.mode || 'empty'}}</a>
                
            </div>
            
            <div class="panel-body">
                <ul>
                    <div class="color-div col-xs-3" style="background-color:{{ ::color.hex}}" ng-repeat="color in colors" ng-if="color.paletteId === palette.id" ><button class="btn btn-default" ng-click="deleteColor(color.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>{{ ::color.hex}}</div>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>