<div class="text-center" ng-controller="ViewCtrl">

    <!-- Section on home page with color picker title/button -->
    <div class="color-picker-big-div">
        <div class="initial-display">
          <h1 class="hard-title col-md-8 col-md-offset-2">Picking colors is hard</h1>
          <h3 class="generate-title col-md-8 col-md-offset-2">Choose a color to generate a palette</h3>
            <button class="color-button col-md-9 col-md-offset-5"><color-picker 
            	ng-model="myColor"
            	options="options"
            	api="api"
                event-api="eventApi"
            ></color-picker></button>
        </div>
    </div>

    <!-- New palette -->
    <div ng-repeat="palette in palettes | orderBy: '-creationDate'">
        <div class="palette-title">
            <h1>{{palette.mode}}</h1>
        </div>
        <!-- Palette buttons -->
        <button class="btn btn-default" ng-click="favoritePalettes(palette)" ng-if="palette.isFavorite"><i class="fa fa-star" aria-hidden="true"></i></button>
        <button class="btn btn-default" ng-click="favoritePalettes(palette)" ng-if="!palette.isFavorite"><i class="fa fa-star-o" aria-hidden="true"></i></button>
        <button class="btn btn-default" ng-click="deletePalette(palette.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        <!-- Palette color info -->
        <div class="panel-body col-md-9 col-md-offset-3">

       

            <div class="color-div flip-container col-xs-3" ontouchstart="this.classList.toggle('hover')" id="colorDiv" style="background-color:{{ ::color.hex}}" ng-repeat="color in colors" ng-if="color.paletteId === palette.id">

            <div class="flipper">
                
                    <div class="front">
                         <p class="details">{{ ::color.hex}}</p>
                    </div>
                    <div class="back">
                        <p>HI</p>
                    </div>
              
              </div>
            </div>
        </div>
    </div>
</div>
