<div class="text-center" ng-controller="ViewCtrl">

<div class="color-picker-big-div">

<h1 class="hard-title col-md-8 col-md-offset-2">Picking colors is hard</h1>
<h3 class="generate-title col-md-8 col-md-offset-2">Choose a color to generate a palette</h3>

<button class="color-button col-md-9 col-md-offset-5"><color-picker 
	ng-model="myColor"
	options="options"
	api="api"
    event-api="eventApi"
></color-picker></button>
</div>

<div ng-repeat="palette in palettes" class="col-xs-8 col-xs-offset-2">

<button class="btn btn-default" ng-click="favoritePalettes(palette)" ng-if="palette.isFavorite"><i class="fa fa-star" aria-hidden="true"></i></button>

<button class="btn btn-default" ng-click="favoritePalettes(palette)" ng-if="!palette.isFavorite"><i class="fa fa-star-o" aria-hidden="true"></i></button>

<button><i class="fa fa-trash-o" ng-click="deletePalette(palette.id)" aria-hidden="true"></i> </button>

    <div class="caption">
        <div class="palette-title">
            <div>
                <h1>{{palette.mode}}</h1>
            </div>
            
            <div class="panel-body">
                <ul>
                    <div class="color-div col-xs-3" id="colorDiv" style="background-color:{{ ::color.hex}}" ng-repeat="color in colors" ng-if="color.paletteId === palette.id" >{{ ::color.name}}<br>{{ ::color.hex}}</div>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>